      <div class="col-lg-5 shadow rounded" style="margin: 25px;">
	<div class="panel panel-success">
	  <div class="panel-body" style="text-align: center;">
	    <h4><b>Dev</b>
		<br><small style="margin: 0 10px 0 10px;">A cloud based development environment for small projects</small>
	    </h4>
	    <div class="the-price">
	      <h1>Free</h1>
	      <br>
	    </div>
	    <table class="table features">
	      <tr>
		<td>Deploy from Git</td>
	      </tr>
	      <tr class="active">
		<td>Connect from anywhere</td>
	      </tr>
	      <tr>
		<td>Zero infrastructure management</td>
	      </tr>
	      <tr>
		<td>Public API & Private repos supported</td>
	      </tr>
	      <tr>
		<td>Shared hosted environment</td>
	      </tr>
	    </table>
	      <p><a href="/signup"><button>Get Started</button></a>
	      <br>
	  </div>
	</div>
      </div>
      <div class="col-lg-5 shadow rounded" style="margin: 25px;">
	<div class="panel panel-success">
	  <div class="panel-body" style="text-align: center;">
	    <h4><b>Platform</b>
		<br><small style="margin: 0 10px 0 10px;">Secure, scalable and supported production environment</small>
	    </h4>
	    <div class="the-price">
	      <h1>$35<span class="subscript"> / user / month</span></h1>
	      <br>
	    </div>
	    <table class="table features">
	      <tr class="active">
		<td>All the Dev features plus</td>
	      </tr>
	      <tr>
		<td>Additional environments</td>
	      </tr>
	      <tr>
		<td>2x Increased resource limits</td>
	      </tr>
	      <tr>
		<td>Business day SLA response time</td>
	      </tr>
	      <tr>
		<td>Slack & Email support</td>
	      </tr>
	    </table>
	      <p><a href="/signup"><button>Get Started</button></a></p>
	  </div>
	</div>
      </div>
